%section.hero.is-link.is-small
  .hero-head
    .navbar
      .container
        .navbar-brand
          %span.navbar-burger.burger{:data => {:target => "navbarMenuHero"}}
            %span
            %span
            %span

        .navbar-menu#navbarMenuHero
          .navbar-end
            .navbar-item
              =link_to 'Created new entry', new_entry_path, class: 'button is-success'
  .hero-body
    .container.has-text-centered
      %h1.title
        - if content_for(:title)
          = yield :title
        - else
          Foodlog
          
      %h2.subtitle
        Subtitle
